<ul *ngIf="todoDataService.todoItem">
  <li>id: {{todoDataService.todoItem.id}}</li>
  <li>title {{todoDataService.todoItem.title}}</li>
  <li>description: {{todoDataService.todoItem.description}}</li>
  <li>progress: {{todoDataService.todoItem.progress}}</li>
  <li>date: {{todoDataService.todoItem.date}}</li>
  <li *ngIf="todoDataService.selectedUser">username: {{todoDataService.selectedUser.name}}</li>
  <li *ngIf="todoDataService.selectedUser">email: {{todoDataService.selectedUser.email}}</li>
</ul>
